body{
  background-color: #F0EAD2;
}

h1, h2 {
    color: #70A8A2;
    size: 150%;
}

p{
  color: #C5D4CA;
  size: 150%;
}

#content{
  padding: 5px;
  background-color: #0A1A27;
  border: solid 1px black;
  height: 70vh;
}

img{
    float: right;
    width: 500px;
    height: auto;
}
.imghover:hover {
    width: 650px;
    position:
}

a:hover{
     color: red;
}
