body{
  background-color: #F0EAD2;
}

h1, h2 {
    color: #70A8A2;
}

p{
  color: #C5D4CA;
}

#content{
  padding: 8px;
  background-color: #0A1A27;
  border: solid 10px #96BFB6;
  height: 65vh;
}

img{
    padding: 0 100px 0 0;
    float: right;
    width: 500px;
}
.imghover:hover {
    transform: scale(1.1);
    transition: transform .5s;
}/* Used snippets of code above from w3schools.com */

a:visited{
    color: #0A1A27;
}

a:hover{
     color: #70A8A2;
}
