@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display:wght@400;600&display=swap');
/*
    font-family: 'Playfair Display', serif;
    font-family: 'Open Sans', sans-serif;
*/

body{
  background-color: #0A1A27;
}

h1, h2{
    font-family: 'Playfair Display', serif;
    color: #3a857d;
}

p{
    font-family: 'Open Sans', sans-serif;
    color: #154d28;
}

a:visited{
    color: #70A8A2;
}

a:hover{
    color: #03ffe4;
}

/* Code below taken from www.w3schools.com/howto/howto_css_two_columns.asp */

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 48%;
    padding: 5px;
    margin: 5px;
    background-color: #F0EAD2;
    border: solid 5px #96BFB6;
    border-radius: 10px;
    height: 300px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
