@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display:wght@400;600&display=swap');
/*
    font-family: 'Playfair Display', serif;
    font-family: 'Open Sans', sans-serif;
*/

body {
    font-family: Times, Arial "san serif";
    background-color: #0A1A27;
    font-size: 150%;
    margin: 30px;
}

#content {
    text-align: center;
    margin: 10px;
    padding: 20px;
    background-color: #F0EAD2;
    border: solid 10px #96BFB6;
    height: 30%;
}

header {
    text-align: center;
    margin: 10px;
    padding: 20px;
    background-color: #F0EAD2;
    border: solid 10px #96BFB6;
    height: 30%;
    color: white;
    text-align: center;
    max-width: 100%;
}

main {
    text-align: center;
    margin: 10px;
    padding: 20px;
    background-color: #F0EAD2;
    border: solid 10px #96BFB6;
    width: 95%;
    height: auto;
}

nav {
    text-align: center;
    margin: 10px;
    padding: 20px;
    background-color: #F0EAD2;
    border: solid 10px #96BFB6;
    display: flex;
}

aside {
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: #F0EAD2;
    border: solid 10px #96BFB6;
    display: flex;
}

div.flex-cont {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.sbs1 {
  width: 44%;
  height: auto;
}
.sbs2 {
  width: 44%;
  height: auto;
}


footer {
    text-align: center;
    margin: 10px;
    padding: 20px;
    background-color: #F0EAD2;
    border: solid 10px #96BFB6;
    width: 95%;
    height: auto;
    float: left;
}

h1, h2{
    font-family: 'Playfair Display', serif;
    color: #3a857d;
}

p{
    font-family: 'Open Sans', sans-serif;
    color: #154d28;
}

a{
    font-family: 'Open Sans', sans-serif;
    color: #154d28;
}

a:visited{
    color: #3a857d;
}

a:hover{
    color: #03ffe4;
}

@media (max-width: 600px) {
    .sbs {
    flex:100%;
  }
}
